body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    padding: 5px 25px 10px 25px;
    letter-spacing: 1px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000;
}

button {
    font-size: 16px;
    border: 1px black solid;
    border-radius: 7px;
    padding: 12px 20px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: white;
}

p {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    color: rgb(221, 221, 221);
    text-shadow: 1px 1px 2px #000;
}

#resultat {
    border: 1px black solid;
    border-radius: 10px;
    display: inline;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    box-shadow: 2px 2px 6px #000;
}

#vurdering {
    display: inline-flex;
    font-size: 16px;
    color: rgb(221, 221, 221);
    text-shadow: 2px 2px 3px #000;
    margin-top: 20px;
}

#tidligereSlag {
    display: inline-flex;
    font-size: 16px;
    color: rgb(221, 221, 221);
    text-shadow: 2px 2px 3px #000;
    margin-top: 10px;
}